<%= form_for(@user, :remote => true) do |f| %>
  <%= field_set_tag(t(".#{@user.new_record? ? "new" : "edit"}.title")) do %>
    <%= display_error_messages(@user) %>

    <p>
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>
