%h1= t(".title")

%table
  %tr
    %th
    %th
    %th
  = @scans.each do |scan|
    %tr
      %td= link_to t(".show"), scan_path(scan)
      %td= link_to t(".edit"), edit_scan_path(scan)
      %td= link_to t(".destroy.text"), scan_path(scan), :confirm => t(".destroy.confirm"), :method => :delete

= link_to t(".new"), new_album_scan_path(@album)

