<div class="album">
  <div class="description">
    <p>
      <b>Name:</b>
      <%= yux_in_place_edit_text(user_album_path(@album.user, @album), :model => @album, :attribute => :name) %>
    </p>
    
    <p>
      <b>Date start:</b>
      <%= @album.date_start %>
    </p>
    
    <p>
      <b>Date end:</b>
      <%= @album.date_end %>
    </p>
    
    <p>
      <b>Description:</b>
      <%= yux_in_place_edit_text(user_album_path(@album.user, @album), :model => @album, :attribute => :description) %>
    </p>
    <% if @album.user == current_user %>
      <p>
        <%= t(".current_user.this_album_has_photos", :count => @album.photos.length) %>
        <%= link_to t(".current_user.scan_link", :count => @album.photos.length), scan_init_user_album_photos_path(@album.user, @album) %>!
        <%= link_to t(".current_user.add_photo"), new_user_album_photo_path(@album.user, @album) %>.</p>
    <% else %>
      <p><%= t(".other_user.this_album_has_photos", :count => @album.photos.length) %></p>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to 'Edit', edit_user_album_path(@album.user, @album) if @album.user == current_user %>
  </div>
  <div class="image">
    <% if @album.photos.length > 0 %>
      <%= link_to(image_tag(@album.random_photo.photo.normal.url), user_album_photos_path(@album.user, @album)) %>
    <% end %>
  </div>
</div>
