= form_for([@user,@album,@photo], :html => {:multipart => true}) do |f|
  = display_error_messages(@photo)
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :description
    %br
    = f.text_field :description
  .field
    = f.label :shot_at
    %br
    = f.calendar_field :shot_at
  .field
    = f.label :photo
    %br
    = image_tag(@photo.photo.thumb.url) if @photo.photo?
    = f.file_field :photo
    = f.hidden_field :photo_cache
  .actions
    = f.submit
