<%= content_for :title, "#{@user.title} / #{@album.title}" %>

<% if @album.user == current_user %>
  <p>
    <%= t(".this_album_has_photos", :count => @photos.length) %>
    <% content_for :actions do %>
      <ul>
        <li><%= link_to_lightbox t(".current_user.scan_link", :count => @photos.length), new_user_album_scan_path(@album.user, @album)%></li>
        <li><%= link_to_lightbox t(".current_user.add_photo"), new_user_album_photo_path(@album.user, @album) %></li>
      </ul>
    <% end %>
<% else %>
  <p><%= t(".this_album_has_photos", :count => @photos.length) %></p>
<% end %>


<% if @photos.length > 0 %>
  <%= tabs :type => :carousel do %>
    <% @photos.each do |photo| %>
      <% tab image_tag(photo.photo.carousel.url), :url => user_album_photo_path(photo.album.user, photo.album, photo) %>
    <% end %>
  <% end %>
<% end %>

