<div class="photo">
<div class="description">
  <p>
    <b>Name:</b>
    <%= yux_in_place_edit_text(user_album_photo_path(@photo.user, @photo.album, @photo), :model => @photo, :attribute => :name, :update_elements => [ @photo.name ]) %>
  </p>
  
  <p>
    <b>Description:</b>
    <%= yux_in_place_edit_text(user_album_photo_path(@photo.user, @photo.album, @photo), :model => @photo, :attribute => :description) %>
  </p>
  
  <p>
    <b>Date:</b>
    <%= @photo.shot_at %>
  </p>
</div>
<div class="image">
  <%= yux_link_to_with_photo(@photo.photo.thumb.url, @photo.photo.lightbox400.url, :rel => :lightbox, :title => @photo.name, :id => "#{@photo.id}_image_version_400") %>
  <%= yux_link_to_with_photo(@photo.photo.thumb.url, @photo.photo.lightbox800.url, :rel => :lightbox, :title => @photo.name, :id => "#{@photo.id}_image_version_800") %>
  <%= javascript_tag do %>
    set_lightbox_image_which_fits("<%= @photo.id %>");
  <% end %>
</div>
<div class="clear"></div>
