<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @photo.album %>
</p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Date:</b>
  <%= @photo.date %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
