<!DOCTYPE html>
<html>
<head>
  <title>YuxGallery</title>
  <%= stylesheet_link_tag :all %>
  <%= rightjs_scripts :tabs, :lightbox, :calendar, :"in-edit" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= javascript_tag do %>
    Xhr.Options.params = "authenticity_token=<%= form_auth_token %>";
  <% end %>


  <div id="login">
    <% if user_signed_in? %>
      <%= link_to(t("users.edit.title"), edit_user_path(current_user), :rel => :lightbox) %>
    <% else %>
      <%= link_to(t("devise.sessions.new.title"), new_user_session_path, :rel => :lightbox) %>
      <%= link_to(t("devise.registrations.new.title"), new_user_registration_path, :rel => :lightbox) %>
    <% end %>
  </div>
  
  <div id="content">
    
    <div id="path">
      <%= yux_gallery_path %>
    </div>
    
    <div id="flash">
      <span id="flash_notice" class="notice"></span>
      <span id="flash_alert" class="alert"></span>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
