<!DOCTYPE html>
<html>
<head>
  <title>YuxGallery</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= javascript_tag do %>
    Xhr.Options.params = "authenticity_token=<%= form_auth_token %>";
  <% end %>


  <ul id="actions">
    <% if user_signed_in? %>
      <li><%= link_to_lightbox(t("users.edit.title"), edit_user_path(current_user)) %></li>
      <li><%= link_to(t("albums.new.title"), new_user_album_path(current_user)) %></li>
      <li><%= link_to(t("devise.sessions.destroy"), destroy_user_session_path) %></li>
    <% else %>
      <li><%= link_to_lightbox(t("devise.sessions.new.title"), new_user_session_path) %></li>
      <li><%= link_to(t("devise.registrations.new.title"), new_user_registration_path) %></li>
    <% end %>
    <%= yield(:actions) %>
  </ul>

  <div id="content">

    <div id="path">
      <%= yux_gallery_path %>
    </div>

    <div id="flash">
      <span id="flash_notice" class="notice"></span>
      <span id="flash_alert" class="alert"></span>
    </div>

    <div id="yield">
      <%= yield %>
    </div>
  </div>

  <%= javascript_tag do %>
    $('flash_notice').hide();
    $('flash_alert').hide();

    if("<%= flash[:notice] -%>" != "") {
      raf_update_flash('notice', '<%= flash[:notice] -%>');
    }
    if("<%= flash[:alert] -%>" != "") {
      raf_update_flash('alert', '<%= flash[:alert] -%>');
    }

  <% end %>

</body>
</html>
